<html>
    <header>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit">Log Out</button>
        </form>

        <form action="/?_method=DELETE" method="POST">
            <button type="submit">Log Out and delete profile</button>
        </form>
        
        <form action="/update?_method=PUT" method="POST">
            <button type="submit">Update profile</button>
        </form>
</header>
    <ul>
        <% product.forEach(function(eachCat){ %>
        <a href="#"><%= eachCat.category %></a>
        <% }) %>
    </ul>
    <body>
        <link rel='stylesheet' href='/style.css' />

    <h1 id="profileH"><%= name %>, here you can view your products for sale</h1>

    <div id="table">
        <table class="styled-table">
            <thead>
                <th>Description</th>
                <th>Price</th>
                <th>category</th>
                <th>Image</th>
            </thead>
            <% product.forEach(function(eachCat){ %>
            <tr class="active-row">
                <td> <%= eachCat.description %> </td>
                <td> <%= eachCat.price %> </td>
                <td> <%= eachCat.category %> </td>
                <td> <%= eachCat.image %> </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <form id="delete" action="/profile?_method=DELETE" method="POST">
        <br>
        <h2>Made a mistake? Delete products here:</h2>
        <button type="submit">Delete Your Products</button>
    </form>
        <a href="/update-product">Update Product</a>
        <br>
        <a href="/">Create Product</a>
</html>