<link rel='stylesheet' href='/style.css' />

<header>
    <form action="/logout?_method=DELETE" method="post">
        <button type="submit">Log Out</button>
    </form>

    <form action="/?_method=DELETE" method="POST">
        <button type="submit">Log Out and delete profile</button>
    </form>
    
    <form action="/update?_method=PUT" method="POST">
        <button type="submit">Update profile</button>
    </form>
</header>


<h1>These are the products in the category: <%= categories.category %></h1>

<div id="table">
    <table class="styled-table">
        <thead>
            <th>Description</th>
            <th>Price</th>
            <th>category</th>
            <th>Image</th>
        </thead>
        <tr class="active-row">
            <td> <%= categories.description %> </td>
            <td> <%= categories.price %> </td>
            <td> <%= categories.category %> </td>
            <td> <%= categories.image %> </td>
        </tr>
    </table>
</div>

<a href="/profile">return to profile</a>